html {
	min-height: 100vh;
	background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
}

body {
	font-family: "Lato", sans-serif;
	color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Lato", sans-serif;
	font-weight: 700;
}
p {
	line-height: 1.5em;
}

@function getShadow($n) {
	$shadow: 0 0 white;
	@for $i from 1 through $n {
		$shadow: "#{$shadow}, #{random(100)}vw #{random(1700)}vh rgb(255, 255, 255)";
	}

	@return unquote($shadow);
}

$duration: 400s;
$count: 2000;
@for $i from 1 through 3 {
	$duration: $duration / 2;
	$count: $count / 2;
	.layer#{$i} {
		$size: #{$i}px;
		position: absolute;
		width: $size;
		height: $size;
		top: 0;
		left: 0;
		border-radius: 50%;
		box-shadow: getShadow($count);
		animation: moveUp $duration linear infinite;

		&::after {
			content: "";
			position: absolute;
			width: $size;
			height: $size;
			top: 100vh;
			left: 0;
			border-radius: 50%;
			box-shadow: inherit;
		}
	}
}

@keyframes moveUp {
	100% {
		transform: translateY(-100vh);
	}
}
